@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #22272E;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 60vh;
}

main h1 {
    margin-bottom: 1.5em;
}

main form {
    display: flex;
    flex-direction: column;
}

main form label {
    display: flex;
    flex-direction: column;
}

main form input {
    height: 3em;
    width: 20em;
    border: 1px solid #5B687A;
    border-radius: 8px;
    margin-bottom: 1.5em;
    background-color: #39414D;
    color: #FFF;
}

main form input[type="submit"] {
    background-color: #5B687A;
    color: #FFF;
    border: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

main form input[type="submit"]:hover {
    background-color: #93A9C7;
    color: #22272E;
}

main .social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .social-media span {
    font-size: 1.1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.3);
    margin-bottom: 1em;
}

main a {
    margin-bottom: 0.5em;
}

main .google {
    color: #FD5D51;
}

main .facebook {
    color: #4E6CAB;
}

main .twitter {
    color: #1DA1F2;
}